<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formulario">
  <ion-item>
    <ion-label stacked >Email</ion-label>
    <ion-input type="email" formControlName="email" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked >Telefone</ion-label>
    <ion-input type="text" formControlName="telefone" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked >CEP</ion-label>
    <ion-input type="text" formControlName="cep" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="full">Salvar</ion-button>
  </ion-item>
  
</form>
</ion-content>
